<h2>About Us</h2>

<p>This is steve. Steve is a puffin. Fish fear steve.</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQu_fpPmbK-bebEeX036y7frmW06amtCkG1ew&usqp=CAU" alt="picture of a puffin facing east">